
.Blogs-container {
  /* padding: 20px; */
  text-align: center;
  width: 100vw;
  font-family: 'Arial', sans-serif;
  /* background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(1px); 
  border: 1px solid rgba(255, 255, 255, 0.2);  */
  color: #ffffff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.Blogs-container .navContainer{
  width: 100vw;
}

.blogs-container {
  width: 100%;
  padding: 20px;
  /* background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(1px); 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #b6b8ff;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.add-blog-button {
  background-color: #6c63ff;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}

.add-blog-button:hover {
  background-color: #594fcf;

}

.blog-card {
  background-color: #1f1b3e;
  color: #ffffff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  width: 750px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
}

.blog-title {
  font-size: 1.8rem;
  color: #b6b8ff;
  margin-bottom: 10px;
}

.blog-content {
  font-size: 1.1rem;
  color: #d3d4ff;
  margin-bottom: 20px;
  line-height: 1.6;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #d3d4ff;
}

.meta-item {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem; /* Adjust the gap if needed */
}

.meta-item span {
  cursor: pointer; /* Make the symbol clickable */
}


.blog-meta span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.blog-meta span:hover {
  color: #fff;
}

.created-by-link {
  font-size: 1rem;
  color: #6c63ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.created-by-link:hover {
  color: #b6b8ff;
}

.comments-button button {
  background-color: #6c63ff;
  color: #fff;
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comments-button button:hover {
  background-color: #594fcf;
}

.no-blogs-message {
  font-size: 1.2rem;
  color: #d3d4ff;
  margin-top: 20px;
}
